.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-description, .add-product-name{
    width: max(40%,280px);
}
.add-product-name input, .add-product-description textarea {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.add-product-name input:focus, .add-product-description textarea:focus {
    border-color: #c3c3c4;
    box-shadow: 0 0 5px rgba(129, 129, 129, 0.5);
}
.add-product-name input:hover, .add-product-description textarea:hover {
    border-color: #858585;
}
.add-product-description textarea {
    background-color: #f9f9f9;
}
.add-category-price{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}
.add-category-price select, .add-category-price input {
    max-width: 120px;
    padding: 10px;
    font-size: 14px;
    border-radius: 24px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.add-category-price select:focus, .add-category-price input:focus {
    border-color: #c3c3c4;
    box-shadow: 0 0 5px rgba(129, 129, 129, 0.5);
}
.add-category-price select:hover, .add-category-price input:hover {
    border-color: #aaa;
}
.add-category-price select {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}
.add-category-price input {
    background-color: #f9f9f9;
    padding-left: 20px;
}
.add-btn{
    max-width: 430px;
    background: transparent;
    font-size: 16px;
    color:#868686;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.add-btn:hover{
    background-color: black;
    color: white;
}