.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.crossimg{
    width: 16px;
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 12px;
    border-radius: 24px;
}
.login-popup-container button{
    border: none;
    padding: 12px;
    border-radius: 24px;
    color: white;
    background-color: black;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.login-popup-container button:hover {
    box-shadow: 0 4px 12px rgba(116, 116, 116, 0.5);
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -8px;
}
.login-popup-condition input{
    margin-top: 5px;
}
input[type="checkbox"]:checked + label {
    color: black;
}
input[type="checkbox"]::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #c9c9c9;
    background: white;
    border-radius: 4px;
}
input[type="checkbox"]:checked::before {
    content: '✓';
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
.login-popup p span {
    color: black;
    font-weight: 500;
    cursor: pointer;
}
