.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw);
    text-align: center;
}
.playstore{
    height: 55px;
}
.appstore{
    height: 50px;
    width: 180px;
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
}
.app-download-platforms img{
    transition: 0.5s;
    cursor: pointer;
}
.app-download-platforms img:hover{
    transform: scale(1.05);
}